<style>

    div {
      font-family:Cambria;
    }

    button {
        font-family:Cambria;
    }
  
    .toolbar{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 60px;
      display: flex;
      align-items: center;
      background-color: var(--main_color);
      color: var(--text_color);
      font-weight: 300;
    }
  
    .toolbar img {
      margin-left: 16px;
    }
  
    .title{
      margin-left: 16px;
      font-size:20px;
    }

    .menu{
      display: flex;
      margin: 0 25%;
      width: 100%;
      height: 100%;
    }

    .menu_item{
      margin: 0px auto;
      height: 100%;
      width: 100%;
      background-color: var(--main_color);
      border: none;
      color: var(--text_color);
      font-size: 18px;
      font-weight: 450;
    }

    .logout_button{
      margin-right: 25px;
      height: 40px;
      width: 200px;
      background-color: var(--button_color);
      border: none;
      border-radius: 5px;
      color: var(--alt_color);
      font-weight: 550;
    }
  
    .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin-top: 60px;
      background-color: var(--bg_color);
      flex-direction: column;
      align-items: center;
    }
  
    .signin_area{
      display: flex;
      margin: 180px auto;
      width: 350px;
      background-color: var(--alt_color);
      border-radius: 5px;
      font-weight: 300;
      flex-direction: column;
    }

    .signup_area{
      display: flex;
      margin: 180px auto;
      width: 350px;
      background-color: var(--alt_color);
      border-radius: 5px;
      font-weight: 300;
      flex-direction: column;
    }
  
    .signin_title{
      margin-top: 40px;
      margin-left: 30px;
      color: var(--text_color);
      font-weight: 600;
      font-size: 25px;
    }

    .signup_title{
      margin-top: 40px;
      margin-left: 30px;
      color: var(--text_color);
      font-weight: 600;
      font-size: 25px;
    }
  
    .signin_subtitle{
      margin-top: 5px;
      margin-left: 30px;
      color: var(--text_color);
      font-weight: 300;
      font-size: 13px;
    }
  
    label{
      margin-bottom: 5px;
      color: var(--text_color);
      display: block;
    }

    .username_area{
      margin: 30px 30px 0px;
      display: flex;
      flex-direction: column;
    }
  
    .mail_area{
      margin: 20px 30px 0px;
      display: flex;
      flex-direction: column;
    }
  
    .password_area{
      margin: 20px 30px 0px;
      display: flex;
      flex-direction: column;
    }
  
    .inputfield{
      border-width: 1px;
      border-color: var(--main_color_50);
      border-radius: 5px;
      background-color: var(--input_bg_color);
      padding: 5px;
      color: var(--text_color);
      font-family:Cambria;
      font-size: 16px;
      flex-grow: 1;
    }
  
    .signin_button{
      margin: 40px 30px 5px;
      height: 40px;
      border-radius: 5px;
      border: none;
      background-color: var(--button_color);
      color: var(--button_text_color);
    }

    .signup_button{
      margin: 40px 30px 5px;
      height: 40px;
      border-radius: 5px;
      border: none;
      background-color: var(--button_color);
      color: var(--button_text_color);
    }

    .signin_text{
      margin: 0px 30px 40px;
      color: var(--text_color);
      text-align: right;
    }

    .signup_text{
      margin: 0px 30px 40px;
      color: var(--text_color);
      text-align: right;
    }
    
  </style>
  
  <div class="toolbar">
    <img
      width="40"
      alt="Logo"
      src="../assets/images/Logo.png"
    />
    <span class="title" *ngIf="!isSignedIn">Bi'Sipariş: Sipariş vermenin kolay hali!</span>
    <span class="title" *ngIf="isSignedIn">#{{ access_code }}</span>  

    <div class="menu" *ngIf="isSignedIn">
        <button class = "menu_item" routerLink="musteriler">Müşteriler</button>
        <button class = "menu_item" routerLink="siparisler">Siparişler</button>
        <button class = "menu_item" routerLink="yemekler">Menü</button>
    </div>

    <button class="logout_button" *ngIf="isSignedIn" (click)="logout()">Logout</button>

  </div>
  
  <div class="content" *ngIf="!isSignedIn">
  
    <div id="signin_area" class="signin_area" *ngIf="hasAccount">
      <span class="signin_title">Giriş Yap</span>
      <span class="signin_subtitle">Bi'Sipariş Sistemine hoşgeldiniz!</span>
      
      <div class="mail_area">
        <label for="mail">Email:</label>
        <input type="text" id="mail" class="inputfield" name="mail" #input_mail required>
      </div>
    
      <div class="password_area">
        <label for="pass">Şifre:</label>
        <input type="password" id="password" class="inputfield" name="password" #input_password minlength="4" required>
      </div>
  
      <button class="signin_button" (click)="onSignIn(input_mail.value, input_password.value)">Giriş Yap</button>
      <span class="signup_text" (click)="signUp()">Hesabınız yok mu? <b>Kayıt ol</b></span>
    </div>

    <div id="signup_area" class="signup_area" *ngIf="!hasAccount">
      <span class="signup_title">Kayıt ol</span>

      <div class="username_area">
        <label for="username">Restoran ismi:</label>
        <input type="text" id="username" class="inputfield" name="username" #input_username required>
      </div>
      
      <div class="mail_area">
        <label for="mail">Email:</label>
        <input type="text" id="mail" class="inputfield" name="mail" #input_mail required>
      </div>

      <div class="password_area">
        <label for="pass">Şifre:</label>
        <input type="password" id="password" class="inputfield" name="password" #input_password minlength="4" required>
      </div>
  
      <button class="signup_button" (click)="onSignUp(input_username.value, input_mail.value, input_password.value)">Kayıt Ol</button>
      <span class="signin_text" (click)="signIn()">Hesabınız var mı? <b>Giriş Yap</b></span>
    </div>
  
  </div>
<router-outlet></router-outlet>