<style>
    button {
        background-color: var(--button_color);
        color: var(--button_text_color);
        border-color: var(--main_color_50);
        border-radius: 5px;
        margin: 5px 10px;
        padding: 10px;
        font-weight: 600;
    }

    .content {
        margin: 60px 0;
        background-color: var(--alt_color);
        display: flex;
        flex-direction: column;
    }

    .info {
        font-family: Cambria;
        color: var(--text_color);
        font-size: 18px;
        margin: 50px 75px 0px;
        text-align: left;
    }

    .customer_table {
        margin: 50px 75px;
        text-align: left;
        border-collapse: collapse;
    }

    .table_header_item {
        background-color: var(--main_color);
        color: var(--text_color);
        padding: 15px 20px;
        width: 275px;
        font-weight: 300;
        font-size: 18px;
        border: 1px solid var(--text_color);

    }

    .table_item {
        background-color: var(--main_color_50);
        color: var(--text_color);
        padding: 10px 15px;
        font-weight: 300;
        font-size: 18px;
        border: 1px solid var(--main_color);
    }
</style>

<div class="content">
    <span class="info">Müşteriyi onaylamadan önce <b>ismini</b> ve <b>müşteri kodunu</b> sorunuz!</span>
    <table class="customer_table">
        <tr class=table_header>
            <th class="table_header_item" style="width: auto;">Müşteri</th>
            <th class="table_header_item">Müşteri Kodu</th>
            <th class="table_header_item">Durum</th>
            <th class="table_header_item">İşlemler</th>
        </tr>
        <tr class="list_item" *ngFor="let customer of customers">
            <td class="table_item">{{ customer.name }}</td>
            <td class="table_item">{{ customer.order_code }}</td>
            <td class="table_item">{{ customer.status }}</td>
            <td class="table_item">
                <button *ngIf="!customer.isAllowed" (click)="customerAllow(customer)">Onayla</button>
                <button *ngIf="!customer.isAllowed" (click)="customerDeny(customer)">Reddet</button>
                <button *ngIf="customer.isAllowed">İşlemi Bitir</button>
            </td>
        </tr>
    </table>
</div>