<style>
    button {
        background-color: var(--button_color);
        color: var(--main_color);
        border-color: var(--main_color);
        border-radius: 5px;
        min-width: 75px;
        margin: 0 25px 0 0;
        padding: 10px;
        font-weight: 600;
        font-family: Cambria;
    }

    input {
        max-width: 300px;
        min-width: 100px;
        border-width: 1px;
        border-color: var(--main_color);
        border-radius: 5px;
        background-color: var(--input_bg_color);
        margin-right: 25px;
        padding: 10px;
        color: #3c2b1a;
        font-family: Cambria;
        font-size: 16px;
    }

    select,
    option {
        max-width: 300px;
        min-width: 100px;
        border-width: 1px;
        border-color: var(--main_color);
        border-radius: 5px;
        background-color: var(--input_bg_color);
        margin-right: 25px;
        padding: 10px;
        color: #3c2b1a;
        font-family: Cambria;
        font-size: 16px;
        flex-grow: 1;
    }

    hr {
        border-color: var(--main_color);
        background-color: var(--main_color);
    }

    th,
    td {
        font-family: Cambria;
    }

    .content {
        margin: 60px 0;
        background-color: var(--alt_color);
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .title_area {
        display: flex;
        font-weight: 600;
        font-size: 20px;
    }

    .left_line {
        margin-left: 75px;
        margin-right: 5px;
        width: 50px;
    }

    .right_line {
        flex-grow: 1;
        margin-left: 5px;
        margin-right: 75px;
    }

    .update_area {
        display: flex;
        margin: 30px auto 75px 75px;
        align-items: center;
    }

    .update_input_title {
        font-weight: 450;
        font-family: Cambria;
        margin-right: 15px;
    }

    .menu_table {
        margin: 30px 75px 0px;
        text-align: left;
        border-collapse: collapse;
    }

    .table_header_item {
        background-color: var(--main_color);
        color: var(--alt_color);
        padding: 15px 20px;
        width: 275px;
        font-weight: 300;
        font-size: 18px;
        border: 2px solid black;
    }

    .table_item {
        background-color: var(--main_color_50);
        padding: 10px 15px;
        font-weight: 300;
        font-size: 18px;
        border: 1px solid var(--main_color);
    }
</style>

<div class="content">

    <div class="title_area" style="margin-top: 50px">
        <hr class="left_line">
        <span class="title">Tip Ekle / Sil </span>
        <hr class="right_line">
    </div>

    <div class="update_area">
        <span class="update_input_title">Tip:</span>
        <input id="addTypeInput"type="text" name="type" required>
        <button (click)="addType()">Ekle</button>
        <select id="type_remove_select">
            <option *ngFor="let type of menu_types" [value]="type.name">{{ type.name }}</option>
        </select>
        <button (click)="removeType()">Sil</button>
    </div>

    <div class="title_area">
        <hr class="left_line">
        <span class="title">Menü Ekle </span>
        <hr class="right_line">
    </div>

    <div class="update_area">
        <span class="update_input_title">Menü İsmi:</span>
        <input id="addMenuNameInput" type="text" name="name" required>
        <span class="update_input_title">Tip:</span>
        <select id="addMenuSelect">
            <option *ngFor="let type of menu_types" [value]="type.name">{{ type.name }}</option>
        </select>
        <span class="update_input_title">Fiyat:</span>
        <input id="addMenuPriceInput"type="number" name="price" step="0.01" #price required>
        <button (click)="addMenu()">Ekle</button>
    </div>

    <div class="title_area">
        <hr class="left_line">
        <span class="title"> Menü </span>
        <hr class="right_line">
    </div>

    <table class="menu_table">
        <tr class=table_header>
            <th class="table_header_item" style="width: auto;">İsim</th>
            <th class="table_header_item">Tip</th>
            <th class="table_header_item">Fiyat</th>
            <th class="table_header_item">İşlem</th>
        </tr>
        <tr class="list_item" *ngFor="let menu_item of menu">
            <td class="table_item">{{ menu_item.name }}</td>
            <td class="table_item">
                <span *ngIf="!menu_item.isEdit">{{ menu_item.type }}</span>
                <select [id]='menu_item.name + "_type"' *ngIf="menu_item.isEdit">
                    <option *ngFor="let type of menu_types" [value]="type.name" [selected]="menu_item.type == type.name">{{ type.name }}</option>
                </select>
            </td>
            <td class="table_item">
                <span *ngIf="!menu_item.isEdit">{{ menu_item.price }} TL</span>
                <span *ngIf="menu_item.isEdit">
                    <input [id]='menu_item.name + "_price"' type="number" step="0.01" [value]="menu_item.price" required> 
                </span>
            </td>
            <td class="table_item">
                <button *ngIf="!menu_item.isEdit" (click)="menu_item.isEdit = true">Düzenle</button>
                <button *ngIf="menu_item.isEdit" (click)="editMenu(menu_item); menu_item.isEdit = false">Kaydet</button>
                <button (click)="removeMenu(menu_item)">Sil</button>
            </td>
        </tr>
    </table>

</div>