:root{
    --main_color:#FFB73B;
    --main_color_50: #FFB73B7f;
    --main_color_25: #FFB73B3f;
    --text_color:#8C1F16;
    --button_color: #8C1F16;
    --button_text_color: #ECE2DC;
    --alt_color:#ECE2DC;
}