:root{
    --main_color:#381F18;
    --main_color_50: #381f187f;
    --main_color_25: #381f183f;
    --button_color: #f3d3c1;
    --alt_color:#ECE2DC;
    --input_bg_color:#a2725522;
    --bg_color:#A27355;
}